.Rproj.user
.Rhistory
.RData
.Ruserdata
information/raw_databases/ADUANAS_CHILE/imports
information/raw_databases/SERNAPESCA/employment/Landings_per_vessel_artisanal_2007_2017.accdb
information/raw_databases/SERNAPESCA/employment/RPA_species.xlsx
